:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #5e3131;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #64faff;
  text-decoration: inherit;
}
a:hover {
  color: #53f283;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c9d343;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.comments{
  display: flex;
  flex-direction: column;
}
.friends{
  display: flex;
  flex-direction: column;
  border: 4px outset rgb(99, 154, 168);
}
.friends a {
  display: flex;
  align-items: flex-start;
}
.friendRequests{
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(99, 154, 168);
}
.friendRequests div {
  display: flex;
  padding:5px;
}
.friendRequests button {
 margin:5px;

}
.intro{
  display: flex;
  flex-direction: column;
  color: #646cff;
  border: 4px inset rgb(99, 154, 168);
}
.mainProfile{
  display: flex;
}
.mainProfile *{
  padding: 20px;
}
.profileAvatar{
  width:300px;
  height:300px;
}
.userProfile{
  display: flex;
}
header a {
  display: flex;
  padding: 5px;
}
header button{
 display: flex;
 padding: 5px;
}
.introPage{
  display: flex;
  flex-direction: row;
}
.postArea {
  display: flex;
  flex-direction: column;
  width:850px;
}
.postSubmission{
  display: flex;
  flex-direction: column;
}
.post{
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(48, 46, 45);
  margin:5px;
  color:#0a0e53;
  background-color: rgb(138, 117, 117);
}
.randomUsers{
  display:flex;
}
.randomUsersCard{
  width:1300px;
  height:420px;
}
.randomUser{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
ul{
  list-style-type: none;
}
.profileUpdate{
  display: flex;
  flex-direction: column;
}
.userIndex{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:800px
}
.recentPost{
  border: 5px solid teal;
  padding: 10px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
